<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DFEND_CTe_Receptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<appSettings xdt:Transform="Replace">
		<!-- Comuns -->
		<add key="NomeServico" value="DFEND_CTe_Receptor" />
		<add key="CodServicoReceptor" value="2" />
		<!-- Bancos CT-e -->
		<add key="BDCTeRecepcao" value="#{BDCTeRecepcao}#" />
		<!-- Certificado Digital -->
		<add key="CertificadoDigital" value="D:\Aplicacoes\Certificados\eCNPJ.cer" />
	</appSettings>
	<applicationSettings>
		<DFEND_CTe_Receptor.Properties.Settings>
			<setting name="DFEND_CTe_Receptor_wsvCTeDistribuicaoSVD_CTeDistSVD" serializeAs="String">
				<value>https://svd-homologacao.svrs.rs.gov.br/PRCTESVD/cteDistSVD/cteDistSVD.asmx</value>
			</setting>
		</DFEND_CTe_Receptor.Properties.Settings>
	</applicationSettings>
</configuration>